.hero {
  margin: 0px 120px;
  margin-top: 270px;
}

.hero-text {
  color: white;
  font-size: 50px;
  font-weight: 700;
  margin-left: 120px;
  line-height: 100px;
}

.explore {
  display: flex;
  align-items: center;
  gap: 50px;
  width: fit-content;
  margin-top: 70px;
  padding: 5px 8px;
  padding-left: 30px;
  border-radius: 60px;
  background-color: #f7f7f7;
  cursor: pointer;
  margin-left: 110px;
}

.explore p {
  color: black;
  font-size: 20px;
  font-weight: 600;
}

.hero-dot-play {
  margin-top: 50px;
  display: flex;
  /* justify-content: space-between; */
  /* align-items: center; */
  gap: 1050px;
}

.hero-dots {
  display: flex;
  align-items: center;
  gap: 25px;
  list-style: none;
  margin-left: 80px;
}

.hero-dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #f7f7f7;
  cursor: pointer;
}

.hero-dot.orange {
  background-color: orangered;
}

.hero-play {
  display: flex;
  align-items: center;
  gap: 30px;
  cursor: pointer;
  margin-left: -40px; /* Adjusted margin-left to move left by 20px */
}

.hero-play p {
  color: white;
  font-size: 20px;
  font-weight: bolder;
}
